@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 52px;
  width: 71%;
  background: #e5b05a;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 15px;
  width: 67%;
  background: #ffd966;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.spicy .cheese {
  height: 22px;
  width: 67%;
  background-color: #f2d7a6; 
 border-bottom: solid 3px rgba(0,0,0,.08);
}

.tomato {
  height: 27px;
  width: 62%;
  background-color: #df4724;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.lettuce {
  background-color: #4CAF50;
  width: 344px;
  height: 26px;
  border-radius: 20px;
}

.patty {
  height: 40px;
  width: 69%;
  background: #932d07;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 19px;
  width: 68%;
  background: #3cbe7a;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #38a46c;
}

.onion {
  width: 63%;
  background-color: #8c29aa;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.mustard {
  background-color: #f2c200;
  width: 331px;
  height: 9px;
  border-radius: 20px;
}

.relish {
  background-color: #2e8b57;
  width: 330px;
  height: 10px;
  border-radius: 20px;
}

.Jalapeno {
  height: 14px;
  width: 65%;
  background-color: #208b45;  
  border-radius: 50px;
  border-bottom: solid 4px #1e6435;
}

.bacon {
  height: 22px;
  width: 71%;
  background: linear-gradient(
    to bottom,
    #8b2e1a 40%,
    #f4a460 40%,
    #f4a460 60%,
    #8b2e1a 60%,
    #8b2e1a 100%
  );
  border-radius: 8px;
}


.bun-bottom {
  height: 38px;
  width: 75%;
  background: #e5b05a;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 28px;
  width: 85%;
  background: #a5a2a2;
  border-radius: 20px 20px 200px 200px;
}
